<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
 
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/icon.png">
  <link href="./static/fav.png" rel="icon">

  <title>Works</title>

  <link href="./static/main.1.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">Home</a></li>
            <li><a href="./works.html" title="">Works</a></li>
            <li><a href="./about.html" title="">About me</a></li>
            <li><a href="./contact.html" title="">Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">Works</h1>
            <p>0000000000000000000000.</p>
          </div>
        </div>

        <div class="col-md-12">

          <div id="myCarousel" class="carousel slide projects-carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4">

                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="./static/1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>001/006</h4>
                      <h3>Works 1</h3>
                      <p>1111111111111.</p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work2.html" title="" class="black-image-project-hover">
                      <img src="./static/2.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>002/006</h4>
                      <h3>Works 2</h3>
                      <p>2222222222222.</p>
                      <a href="./work2.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work3.html" title="" class="black-image-project-hover">
                      <img src="./static/3.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>003/006</h4>
                      <h3>Works 3</h3>
                      <p>3333333333333.</p>
                      <a href="./work3.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work4.html" class="black-image-project-hover">
                      <img src="./static/4.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Works 4</h3>
                      <p>444444444444.</p>
                      <a href="./work4.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work5.html" class="black-image-project-hover">
                      <img src="./static/5.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>005/006</h4>
                      <h3>Works 5</h3>
                      <p>5555555555555.</p>
                      <a href="./work5.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="./work6.html" class="black-image-project-hover">
                      <img src="./static/6.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>006/006</h4>
                      <h3>Works 6</h3>
                      <p>6666666666666.</p>
                      <a href="./work6.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                </div>
                <!--/row-->
              </div>

              <!--/item-->
            </div>
            <!--/carousel-inner-->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>



          <!--/myCarousel-->
        </div>



      </div>
    </div>
  </div>


   <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

   <script type="text/javascript" src="./static/main.2.js"></script>
</body>

</html>